<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<ul>
    <% videos.forEach(video => { %>
      <li>
        <a href="<%= video.url %>" target="_blank"><%= video.title %></a>
      </li>
    <% }) %>
  </ul>


<%- include ('partials/footer.ejs') %>